<%- include("partials/header") -%>
<div class="jumbotron">
  <h1 class="display-4">Thanks for visiting, </h1>
  <p >  This Movie tickets booking project is developed by Hemantha Veera Sanjay Ponna</p>
  <span >  Contact : hemanthveerasanjay1@gmail.com </span>
  <a href="mailto:hemanthveerasanjay1@gmail.com?subject='feedback-timeformovie-project'"><i class="fas fa-envelope"></i></a>
  <hr class="my-4">
  <p>This project is developed by using Nodejs, Expressjs, Ejs, Mongodb, Bootstrap. This web application is a full-fledged real time online ticket booking sample, which implements user management using database cloud service called mongodb atlas. This test project is deployed in heroku servers, Users can authenticate using OAuth functionality too.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register Now and Explore</a>
  </p>
</div>
<%- include("partials/footer") -%>
